@font-face {
  font-family: 'Noto Chess';
  font-display: block;
  src: url('fonts/lichess.chess.woff2') format("woff2"), url('fonts/lichess.chess.woff') format("woff")
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pgn-container {
  max-height: 70px;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  font-family: 'Noto Chess', sans-serif;
}