.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.messages {
  display: flex;
  flex-grow: 1;
  overflow: auto;
  flex-direction: column
}

.input {
  display: block;
}